{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Timeline</title>
    <script type="text/javascript"
        src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>
    <link href="https://unpkg.com/vis-timeline@latest/styles/vis-timeline-graph2d.min.css" rel="stylesheet"
        type="text/css" />
    <style type="text/css">
        #timeline {
            margin-top: 20px;
            width: 100%;
            border: 0;

        }
        video {
            margin-top : 20 px;
            width: 100% !important;
            height: auto !important;
        }
    </style>
</head>

<body>
    <div id="timeline"></div>
    <script>
        var items = new vis.DataSet();
        var groupsSet = new Set();
    </script>
    {% for (filename, camera_id, startat, endat) in data %}
    <script>
        items.add({
            id: "{{ filename }}",
            group: parseInt("{{ camera_id }}"),
            start: new Date("{{ startat }}".replaceAll(' ', "T")),
            end: new Date("{{ endat }}".replaceAll(' ', "T")),
        });

        groupsSet.add(parseInt("{{ camera_id }}"));
    </script>
    {% endfor %}
    <script type="text/javascript">
        var groupsList = Array.from(groupsSet).sort()
        var groups = new vis.DataSet()
        for (let groupNum of groupsList) {
            groups.add({
                id: groupNum,
                content: "Camera " + groupNum.toString(),
            });
        }
        var options = {
            stack: false,
            start: new Date(),
            end: new Date(1000 * 60 * 60 * 24 + new Date().valueOf()),
            editable: false,
            margin: {
                item: 10, // minimal margin between items
                axis: 5, // minimal margin between items and the axis
            },
            orientation: "top",
        };

        var container = document.getElementById("timeline");
        timeline = new vis.Timeline(container, null, options);
        timeline.setGroups(groups);
        timeline.setItems(items);

        window.addEventListener("resize", () => {
            // timeline.checkResize();
        });
    </script>

    <div id="video">
        <video controls>
            <source src="{{ url_for('views.download_file', filename='video-10-20230909-194945.mp4') }}"
                type="video/mp4">
        </video>
    </div>
</body>

</html>
{% endblock %}